.services {
    display: flex;
    flex-wrap: wrap;
    background: url(../Fotoes/Vector.png) no-repeat left top/ auto 53%;
}

.container_search,
.container_online,
.container_consultation,
.container_details,
.container_care,
.container_tracking {
    width: 350px;
    height: 354px;
    background-color: #f0f0f0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
}

.container_online,
.container_consultation,
.container_care,
.container_tracking {
    margin-right: 36px;
    margin-left: 34px;
    z-index: 999;
}

.container_search,
.container_online,
.container_consultation {
    margin-top: 100px;
}

.container_search,
.container_details {
    margin-right: 36px;
    margin-left: 240px;
}

.container_details,
.container_care,
.container_tracking {
    margin-top: 37px;
}

.search__title,
.online__title,
.consultation__title,
.details__title,
.care__title,
.tracking__title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 12px;
    margin-left: 38px;
}

.search__paragraph,
.online__paragraph,
.consultation__paragraph,
.details__paragraph,
.care__paragraph,
.tracking__paragraph {
    color: #7D7987;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-left: 39px;
    margin-right: 80px;
}

.img_search {
    width: 91.978px;
    height: 90px;
    margin-left: 37px;
    margin-top: 54px;
}

.img_online {
    width: 61.857px;
    height: 85px;
    margin-left: 37px;
    margin-top: 62px;
}


.img_consultation {
    width: 67.292px;
    height: 95px;
    margin-left: 38px;
    margin-top: 47px;
}

.img_details {
    width: 67.075px;
    height: 95px;
    margin-left: 40px;
    margin-top: 46px;
}

.img_care {
    width: 80px;
    height: 71.155px;
    margin-left: 40px;
    margin-top: 59px;
}

.img_tracking {
    width: 69.422px;
    height: 95px;
    margin-left: 38px;
    margin-top: 52px;
}

.element__up {
    width: 131.581px;
    height: 115px;
    opacity: 0.3;
    position: absolute;
    margin-left: -110px;
    margin-top: -45px;
}

.down__button {
    color: #458FF6;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    width: 200px;
    height: 56px;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    background-color: #ffffff;
    margin-left: 700px;
    margin-top: 72px;
}